<html>
  <style>
      .pdf {
          width: 100%
      }
      .pdf,
      html,
      body {
          height: 100%;
          margin: 0;
          padding: 0;
      }
  </style>
  <body>
    <embed class="pdf" 
    src="/src/pages/cv/cv.pdf"
    width="100%" 
    height="100%">
  </body>
</html>